body{
  background-color: chocolate;
}
.App {
  background-color:darkslategrey;
  min-height: 600px;
  width: 400px;
  margin: 40px auto;
}
#to-do-form input {
  background-color: lightcoral;
  border:0;
  width:200px;
  height:50px;
  margin:20px;
  padding: 0 25px;
  border-radius: 10px;
  font-size: 18px;
  color: bisque;
}
#to-do-form input:focus #to-do-form button:focus{
  outline: none;
}
#to-do-form button{
  background-color: burlywood;
  height:50px;
  width:75px;
  padding: 0%;
  border-radius: 10px;
  font-size: 15px;
  font-weight:bolder;
  color: bisque;
  cursor:pointer;
}